<div>
  <div>
    <h1>
      Create a login below
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new user
    </h2>

    <form action="/insert_user" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="email_box">
          Email
        </label>

        <input type="text" id="email_box" name="query_email">
      </div>

      <div>
        <label for="password_box">
          Password
        </label>

        <input type="text" id="password_box" name="query_password">
      </div>

      <div>
        <label for="birthday_box">
          Birthdate
        </label>

        <input type="date" id="birthday_box" name="query_birthday">
      </div>

      <div>
        <label for="sex_box">
          Sex
        </label>

        <input type="text" id="sex_box" name="query_sex">
      </div>

      <div>
        <label for="height_box">
          Height
        </label>

        <input type="text" id="height_box" name="query_height">
      </div>

      <div>
        <label for="weight_box">
          Weight
        </label>

        <input type="text" id="weight_box" name="query_weight">
      </div>

      <div>
        <label for="activity_level_box">
          Activity Level
        </label>

        <input type="text" id="activity_level_box" name="query_activity_level">
      </div>

      <div>
        <label for="primary_goal_box">
          Primary Goal
        </label>

        <input type="text" id="primary_goal_box" name="query_primary_goal">
      </div>

      <button>
        Create user
      </button>
    </form>
  </div>
</div>
