
<h1>Today's date</h1>

<h2>Calories left</h2>
<h2>Protein left</h2>
<h2>Carbs left</h2>
<h2>Fiber left</h2>
<h2>Fats left</h2>

<button>Log Food</button>
<button>Log Activity</button>
<button>Log Workout</button>
<hr>
<button>Recommend for the rest of the day</button>
<button>Rate my plan</button>


<h1>Table showing past week daily macro totals</h1>

<h1>Table showing past week workout summary</h1>


<hr>
