<h1>Add a meal</h1>

<p>Send us an image and/or a description of a meal and we'll ask AI to estimate how many calories and macronutrients it contains.</p>
<p>You can also send pictures of barcodes, recipes or menu items (just make sure you include in the description about how much you ate).</p>

<div>
  <form action="/process_meal" method="post" enctype="multipart/form-data">
    <div>
      <label for="food_name_box">
        Food Name
      </label>

      <input type="text" id="food_name_box" name="query_food_name">
    </div>
        <div>
      <label for="meal_type_box">
        Meal Type
      </label>

      <select name="query_meal_type" id="meal_type_box">
        <option value="" selected disabled hidden></option>
        <option value="Breakfast">Breakfast</option>
        <option value="Lunch">Lunch</option>
        <option value="Dinner">Dinner</option>
        <option value="Snack">Snack</option>
      </select>
    </div>
    <div>
      <label for="image_field">Images</label>
      <input type="file" id="image_field" name="image_param[]" multiple>
    </div>

    <div>
      <label for="description_field">Description</label>
      <textarea id="description_field" name="description_param"></textarea>
    </div>

    <div>
      <button>
        Estimate!
      </button>
    </div>
  </form>
</div>


<div>
  <div>
    <h2>
      Add a new meal manually
    </h2>

    <form action="/insert_meal" method="post">
      <div>
        <input type="hidden" id="date_consumed_box" name="query_date_consumed" value="<%= Date.current %>">
      </div>

      <div>
        <label for="food_name_box">
          Food Name
        </label>

        <input type="text" id="food_name_box" name="query_food_name">
      </div>
      <div>
      <label for="meal_type_box">
        Meal Type
      </label>
            <select name="query_meal_type" id="meal_type_box">
              <option value="" selected disabled hidden></option>
              <option value="Breakfast">Breakfast</option>
              <option value="Lunch">Lunch</option>
              <option value="Dinner">Dinner</option>
              <option value="Snack">Snack</option>
            </select>
      </div>
      <div>
        <label for="calories_box">
          Calories
        </label>

        <input type="text" id="calories_box" name="query_calories">
      </div>

      <div>
        <label for="protein_box">
          Protein
        </label>

        <input type="text" id="protein_box" name="query_protein">
      </div>

      <div>
        <label for="fats_box">
          Fats
        </label>

        <input type="text" id="fats_box" name="query_fats">
      </div>

      <div>
        <label for="carbs_box">
          Carbs
        </label>

        <input type="text" id="carbs_box" name="query_carbs">
      </div>

      <div>
        <label for="fiber_box">
          Fiber
        </label>

        <input type="text" id="fiber_box" name="query_fiber">
      </div>

      <div>
        <input type="hidden" id="user_id_box" name="query_user_id" value = <%= current_user.id %>>
      </div>

      <button>
        Create meal
      </button>
    </form>
  </div>
</div>
